[include shell_command.cfg]
[include macros.cfg]
[include fr.cfg]
#[include Adaptive_Mesh.cfg]
[include OrbiterSensor.cfg]
[include KAMP_Settings.cfg]
[include tmc.cfg]

# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

################################################################################
############################ STEPPER configuration #############################
################################################################################

# S1
[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PE6
microsteps: 64
rotation_distance: 40
endstop_pin: PC15
full_steps_per_rotation: 400
position_endstop: -4
position_max: 420
position_min: -4
homing_speed: 100

# S2
[stepper_y]
step_pin: PE5
dir_pin: PE4
enable_pin: !PE3
microsteps: 64
rotation_distance: 40
gear_ratio: 40:20
full_steps_per_rotation: 400
endstop_pin: PF0
position_endstop: 0
position_max: 420
position_min: 0
homing_speed: 100


# S3
[stepper_y1]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE0
microsteps: 64
rotation_distance: 40
gear_ratio: 40:20
endstop_pin: PF0
full_steps_per_rotation: 400

# S4
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PB9
#dir_pin: PB8
#enable_pin: PB7
#endstop_pin: PF2
#...

# S5
[stepper_z]
step_pin: PG9
dir_pin: PG10
enable_pin: !PG13
microsteps: 64
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 400
homing_speed: 10.0
endstop_pin: probe: z_virtual_endstop
position_max: 228
position_min: -5

#[filament_switch_sensor material_0]
#switch_pin: PF3

# S6
[stepper_z1]
step_pin: PG11
dir_pin: PD7
enable_pin: !PG12
microsteps: 64
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 400
#homing_speed: 10.0
endstop_pin: probe: z_virtual_endstop
#position_max: 228
#position_min: -5

##sensor_type:MAX31865
##sensor_pin: PA8
##spi_bus: spi3a
##rtd_nominal_r: 100
##rtd_reference_r: 430
##rtd_num_of_wires: 2
#...

#[filament_switch_sensor material_1]
#switch_pin: PF4

# S7
[extruder]
max_extrude_only_distance: 500.0
max_extrude_only_velocity: 120
max_extrude_only_accel: 5000
step_pin: PB4
dir_pin: !PB3
enable_pin: !PB5
microsteps: 16
rotation_distance: 4.637
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.046
pressure_advance_smooth_time: 0.03
heater_pin: PF6 # HE0
sensor_pin:  PB1 # T0
sensor_type: Generic 3950 #New hotend Ala bambu lab
control: pid
#pid_Kp: 22.2
#id_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 320
#sensor_type:MAX31865
#sensor_pin: PC9
#spi_bus: spi3a
#rtd_nominal_r: 100
#rtd_reference_r: 430
#rtd_num_of_wires: 2

#[filament_switch_sensor material_2]
#switch_pin: PF10

# S8
#[extruder3]
#step_pin: PG15
#dir_pin: PB6
#enable_pin: !PG14
#heater_pin: PF8 # HE3
#sensor_pin: PA7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PC0

################################################################################
##################################### Bed ######################################
################################################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB0 # TB
sensor_type: Generic 3950
#control: watermark
min_temp: 0
max_temp: 130
pwm_cycle_time: 0.02

[verify_heater heater_bed]  
heating_gain: 2 
check_gain_time: 35  
hysteresis: 10  
max_error: 130 

################################################################################
#################################### Fans ######################################
################################################################################

[fan]
pin: PA0

[heater_fan extruder_fan]
pin: PA1
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 70.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

[temperature_fan RPI_FAN]
pin: PA2
kick_start_time: 0.5
off_below: 0.2
max_power: 1.0
cycle_time:0.01
#off_below:0.1
sensor_type: temperature_host
min_temp: 0
max_temp: 70
target_temp: 40.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
min_speed: 0.35
max_speed: 1.0

[heater_fan TMC_FAN]
pin: PA3
max_power: 1.0
heater: heater_bed
heater_temp: 40.0
fan_speed: 1.0

[heater_fan XY_motors]
pin: PA4
max_power: 1.0
heater: heater_bed
heater_temp: 40.0
fan_speed: 1.0


#[heater_fan fan2]
#pin: PA2

#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0


################################################################################
#################################### System ####################################
################################################################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
serial: /dev/ttyAMA0
baud: 250000
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

#Gcode G2/G3 Arc Support
[gcode_arcs]
resolution: 0.1

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 3000
max_accel_to_decel: 1500
max_z_velocity: 70
max_z_accel: 600
square_corner_velocity: 5.0

[display_status]

[virtual_sdcard]
#path: ~/gcode_files
path: /home/pi/printer_data/gcodes

[exclude_object]

################################################################################
#################################### PROBE #####################################
################################################################################

[gcode_macro Probe_Deploy]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro Probe_Stow]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

[output_pin probe_enable]
pin: PE9
value: 0

[probe]
pin: ^PG1
deactivate_on_each_sample: False
x_offset: 0
y_offset: 16
#z_offset: 2.6
speed: 10
samples: 3
sample_retract_dist: 2.0
samples_tolerance: 0.02
samples_tolerance_retries: 5
samples_result: median
activate_gcode:
    Probe_Deploy
    G4 P750
      # allow time for probe to deploy before homing Z
deactivate_gcode:
    Probe_Stow

[bed_mesh]
speed: 200
horizontal_move_z: 5
#mesh_radius:
#mesh_origin:
mesh_min: 16, 16
mesh_max: 389, 389
mesh_pps: 2,2
probe_count: 13, 13
algorithm: bicubic
bicubic_tension: 0.02
fade_start: 1.2
fade_end: 3
split_delta_z: 0.01
move_check_distance: 5

[safe_z_home]
home_xy_position: 202.5, 186.5
speed:200
z_hop:10
z_hop_speed: 10

#[z_tilt]
#z_positions: 51, 202
#             418, 202
#points: 51, 202
#        418, 202
#speed: 250
#horizontal_move_z: 5
#retries: 15
#retry_tolerance: .005

[screws_tilt_adjust]
screw1: 35,20
screw1_name: Left-Front
screw2: 370,20
screw2_name: Right-Front
screw3: 370,355
screw3_name: Right-Back
screw4: 35,355
screw4_name: Left-Back
speed: 100
horizontal_move_z: 5
screw_thread: CW-M3

################################################################################
################################# OTHER ########################################
################################################################################

[gcode_shell_command adxl_x]
command: sh /home/pi/printer_data/config/adxl_x.sh	
# edit: ´klipper_config/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True
 
[gcode_shell_command adxl_y]
command: sh /home/pi/printer_data/config/adxl_y.sh		
# edit: ´klipper_config/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/pi/klipper-backup/script.sh
timeout: 90.0
verbose: True

################################################################################
################################ Input Shaper ##################################
################################################################################

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    202.5,202.5,25 

[input_shaper]
shaper_type_x: 3hump_ei
shaper_freq_x: 58.8
#shaper_type_y: ei
#shaper_freq_y: 34.4
shaper_type_y: mzv
shaper_freq_y: 30.0
#shaper_type_x: 3hump_ei
#shaper_freq_x: 50.4

[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: ^PG1
#control_pin: PE9

# Proximity switch
#[probe]
#pin: PD11

#[output_pin ps_on_pin]
#pin: PD10

#[neopixel my_neopixel_1]
#pin: PF12

#[neopixel my_neopixel_2]
#pin: PF11

#[hall_filament_width_sensor]
#adc1: PC2
#adc2: PC3

#[adxl345]
#cs_pin: PE10
#spi_bus: spi4

#[servo servo_motor]
#pin: PE7

#i2c_bus:i2c2_PB10_PB11

################################################################################

#[include Line_Purge.cfg]
#[include 01_end_print.cfg]
#[include macro_bed_mesh.cfg]

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 41.016
#*# pid_ki = 9.429
#*# pid_kd = 44.605
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.408
#*# pid_ki = 1.516
#*# pid_kd = 840.825
#*#
#*# [probe]
#*# z_offset = 1.550
