[include shell_command.cfg]
[include macros.cfg]
[include fr.cfg]
[include OrbiterSensor.cfg]
[include tmc.cfg]
[include fly.cfg]

# This file contains common pin mappings for the BIGTREETECH Kraken.
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

# See docs/Config_Reference.md for a description of parameters.

################################################################################
############################ STEPPER configuration #############################
################################################################################

# S1
[stepper_x]
step_pin: PC14
dir_pin: !PC13
enable_pin: !PE6
microsteps: 16
rotation_distance: 40
endstop_pin: PC15
##endstop_pin: tmc5160_stepper_x:virtual_endstop
full_steps_per_rotation: 400
position_endstop: -34
position_max: 455
position_min: -34
homing_speed: 160

# S2
[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PE3
microsteps: 16
rotation_distance: 40
#gear_ratio: 40:20
full_steps_per_rotation: 200
endstop_pin: PF0
position_endstop: -4
position_max: 415
position_min: -4
homing_speed: 160


# S3
[stepper_y1]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE0
microsteps: 16
rotation_distance: 40
#gear_ratio: 40:20
endstop_pin: PF0
full_steps_per_rotation: 200

# S4
# The Octopus only has 4 heater outputs which leaves an extra stepper
# This can be used for a second Z stepper, dual_carriage, extruder co-stepper,
# or other accesory such as an MMU
#[stepper_]
#step_pin: PB9
#dir_pin: PB8
#enable_pin: PB7
#endstop_pin: PF2
#...

# S5
[stepper_z]
step_pin: PG9
dir_pin: PG10
enable_pin: !PG13
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 400
homing_speed: 10.0
endstop_pin: probe: z_virtual_endstop
position_max: 370
position_min: -5

#[filament_switch_sensor material_0]
#switch_pin: PF3

# S6
[stepper_z1]
step_pin: PG11
dir_pin: !PD7
enable_pin: !PG12
microsteps: 16
rotation_distance: 40
gear_ratio: 80:16
full_steps_per_rotation: 400
#homing_speed: 10.0
endstop_pin: probe: z_virtual_endstop
#position_max: 228
#position_min: -5

##sensor_type:MAX31865
##sensor_pin: PA8
##spi_bus: spi3a
##rtd_nominal_r: 100
##rtd_reference_r: 430
##rtd_num_of_wires: 2
#...

#[filament_switch_sensor material_1]
#switch_pin: PF4

# S7


#[filament_switch_sensor material_2]
#switch_pin: PF10

# S8
#[extruder3]
#step_pin: PG15
#dir_pin: PB6
#enable_pin: !PG14
#heater_pin: PF8 # HE3
#sensor_pin: PA7 # T3
#...

#[filament_switch_sensor material_3]
#switch_pin: PC0

################################################################################
##################################### Bed ######################################
################################################################################

[heater_bed]
heater_pin: PF5
sensor_pin: PB0 # TB
sensor_type: Generic 3950
min_temp: 0
max_temp: 130
pwm_cycle_time: 0.02

[verify_heater heater_bed]  
heating_gain: 2 
check_gain_time: 35  
hysteresis: 10  
max_error: 120 

################################################################################
#################################### Fans ######################################
################################################################################

[temperature_fan RPI]
pin: PA2
kick_start_time: 0.5
#off_below: 0.2
max_power: 1.0
cycle_time:0.01
#off_below:0.1
sensor_type: temperature_host
min_temp: 0
max_temp: 85
target_temp: 45.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
min_speed: 0.3
max_speed: 1.0

[duplicate_pin_override]
pins: PC4

[temperature_fan TMC_FAN]
pin: PA3
max_power: 1.0
sensor_pin: PC4 # TB
sensor_type: Generic 3950
min_temp: 0
max_temp: 70
target_temp: 35.0
#heater: heater_bed
#heater_temp: 40.0
#fan_speed: 1.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
min_speed: 0.15
max_speed: 1.0
off_below: 0.2

[temperature_fan eBOX]
pin: PA5
max_power: 1.0
sensor_pin: PC4 # TB
sensor_type: Generic 3950
min_temp: 0
max_temp: 70
target_temp: 35.0
#heater: heater_bed
#heater_temp: 40.0
#fan_speed: 1.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
min_speed: 0.15
max_speed: 1.0
off_below: 0.2

[temperature_fan X_motor]
#[temperature_sensor X_motors]
pin: PA1
max_power: 1.0
sensor_pin: PC5
sensor_type: Generic 3950
min_temp: 0
max_temp: 100
target_temp: 40.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
kick_start_time: 0.200
min_speed: 0.25
max_speed: 1.0
off_below: 0.3

#[temperature_sensor Y_motors]
[temperature_fan Y_motor]
pin: PA4
max_power: 1.0
sensor_pin: PB1
sensor_type: Generic 3950
min_temp: 0
max_temp: 100
target_temp: 40.0
control: pid
pid_Kp: 2.0     ;40
pid_Ki: 5.0     ;0.2
pid_Kd: 0.5     ;0.1
pid_deriv_time: 2.0
kick_start_time: 0.100
min_speed: 0.15
max_speed: 1.0
off_below: 0.2

#[temperature_fan X_motors]
#pin: PA1
#max_power: 1.0
#sensor_pin: PC5
#sensor_type: Generic 3950
#min_temp: 0
#max_temp: 100
#target_temp: 40.0
#control: pid
#pid_Kp: 2.0     ;40
#pid_Ki: 5.0     ;0.2
#pid_Kd: 0.5     ;0.1
#pid_deriv_time: 2.0
#min_speed: 0.15
#max_speed: 1.0
#off_below: 0.2

#[heater_fan fan2]
#pin: PA2

#[fan_generic fan3]
#pin: PA3

#[fan_generic fan4]
#pin: PA4

#[fan_generic fan5]
#pin: PA5

#[fan_generic fan6]
#pin: PA6
#tachometer_pin: PC1

#[fan_generic fan7]
#pin: PE8
#tachometer_pin: PG0


################################################################################
#################################### System ####################################
################################################################################

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
#serial: /dev/ttyAMA0
canbus_uuid: 9a22607dceb5
#baud: 500000
#restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[mcu fly]
canbus_uuid: b9c1d6a2ba6d

#Gcode G2/G3 Arc Support
[gcode_arcs]
resolution: 0.1

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 8000
#max_accel_to_decel: 1200
max_z_velocity: 70
max_z_accel: 600
square_corner_velocity: 5.0

[display_status]

[virtual_sdcard]
#path: ~/gcode_files
path: /home/pi/printer_data/gcodes

[exclude_object]

################################################################################
################################## BED MESH ####################################
################################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 2
#mesh_radius:
#mesh_origin:
mesh_min: 16, 16
mesh_max: 389, 389
mesh_pps: 0,0
probe_count: 12, 12
algorithm: bicubic
bicubic_tension: 0.2
fade_start: 1
fade_end: 5
fade_target: 0
split_delta_z: 0.0125
move_check_distance: 3
adaptive_margin: 5

[safe_z_home]
home_xy_position: 202.5, 187
speed:250
z_hop:10
z_hop_speed: 10

[z_tilt]
z_positions: 20, 187
             385, 187
points: 20, 187
        385, 187
speed: 600
horizontal_move_z: 3
retries: 10
retry_tolerance: .0025

[screws_tilt_adjust]
screw1: 12.5,-3 #35,20
screw1_name: Left-Front
screw2: 392.5,-3 #370,20
screw2_name: Right-Front
screw3: 392.5,376.7 #370,355
screw3_name: Right-Back
screw4: 12.5, 376.7 #35,355
screw4_name: Left-Back
speed: 200
horizontal_move_z: 5
screw_thread: CW-M3

################################################################################
################################# OTHER ########################################
################################################################################

[gcode_shell_command adxl_x]
command: sh /home/pi/printer_data/config/adxl_x.sh	
# edit: ´klipper_config/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True
 
[gcode_shell_command adxl_y]
command: sh /home/pi/printer_data/config/adxl_y.sh		
# edit: ´klipper_config/macro/shell_commands/´ to where your .sh file lays
timeout: 60.
verbose: True

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/pi/klipper-backup/script.sh
timeout: 90.0
verbose: True

################################################################################
################################ Input Shaper ##################################
################################################################################

[adxl345 bed]
#cs_pin: rpi:None
cs_pin : PE12
#spi_bus: spidev0.2
spi_software_sclk_pin: PE13
spi_software_mosi_pin: PE10
spi_software_miso_pin: PE14

[adxl345 hotend]
cs_pin: fly:PA9
spi_bus: spi2

[resonance_tester]
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    202.5,202.5,25
min_freq: 5
max_freq: 133
accel_per_hz: 75
hz_per_sec: 1 

[input_shaper]
#shaper_type_x: mzv
#shaper_freq_x: 53.8
shaper_type_x: mzv
shaper_freq_x: 59.2
shaper_type_y: mzv
shaper_freq_y: 47.4

[board_pins]
aliases:
    # FPC header, Aliases EXP1 & EXP2 for mini12864
    EXP1_1=PG5, EXP1_2=PG4,
    EXP1_3=PG3, EXP1_4=PG2,
    EXP1_5=PD15, EXP1_6=PD14,
    EXP1_7=PD13, EXP1_8=PD12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PG8, EXP2_4=PE11,
    EXP2_5=PG7, EXP2_6=PE14,
    EXP2_7=PG6, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[bltouch]
#sensor_pin: ^PG1
#control_pin: PE9

# Proximity switch
#[probe]
#pin: PD11

#[output_pin ps_on_pin]
#pin: PD10

#[neopixel my_neopixel_1]
#pin: PF12

#[neopixel my_neopixel_2]
#pin: PF11

#[hall_filament_width_sensor]
#adc1: PC2
#adc2: PC3

#[adxl345]
#cs_pin: PE10
#spi_bus: spi4

#[servo servo_motor]
#pin: PE7

#i2c_bus:i2c2_PB10_PB11

################################################################################

#[include Line_Purge.cfg]
#[include 01_end_print.cfg]
#[include macro_bed_mesh.cfg]

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# pid_kp = 38.146
#*# pid_ki = 8.477
#*# pid_kd = 42.914
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.251
#*# pid_ki = 1.057
#*# pid_kd = 1069.283
#*#
#*# [probe]
#*# z_offset = 1.660
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.008750, 0.001250, 0.012500
#*# 	0.001250, -0.003750, 0.006250
#*# 	0.007500, 0.023750, -0.010000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 0
#*# mesh_y_pps = 0
#*# algo = direct
#*# tension = 0.2
#*# min_x = 180.26
#*# max_x = 224.74
#*# min_y = 197.5
#*# max_y = 207.5
